.user-actions-preview{
   padding: 0 16px;
}

.post-actions-preview{
    padding-top: 12px;

}
.post-actions-btn-like-preview{
    padding-right: 12px;

//padding-left: 10px;
}
.post-actions-btn-preview{
    padding-right: 12px;
}