
.header-container{
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    flex-direction: center;
    align-items: center;
}
header {
    width: 100%;
    // background-color: $clr5;
    // padding: 10px;

    // display: flex;
    // justify-content: space-between;
    height:60px;
    border-bottom:1px solid $clr2; 

    // from asi
    // background: gainsboro;
    padding: 0px;
.inner-header{
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;

}



    nav {
        width: 600px;
        padding: 0 50px 0 150px;
        
    }
    .home-logo{
        padding: 20px;
        //  padding-top: 60px;
    }
    .third-logo{
        padding-left: 0px;
    }
    .rourthth-logo{
        padding-left: 15px;
     }
    .hart{
        padding-left: 20px;
        padding-right: 20px;
      }

    .user-logo{
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding-left: 0px;
    }
    .pressed{
        opacity: 0.3;
    }
    .h1-header{
        width: 103px;
        height: 29px;
        cursor: pointer;
        font-family: Cookie,cursive;
        margin: 0;
        font-weight: 400;
    }
    .add-story{
        padding-right: 8px;
    }
    .instagram-router-link{
        color : #262626 ;
        text-decoration: none;
    }
    .login-router-link{
        text-decoration: none;
        // display: inline;
        margin: 0;
    }

    .nav-bar{
       // position: relative;
        width: 100%;
        display: flex;
        justify-content : flex-start;
        align-items: center; // from asi
        -webkit-box-pack: flex;  // from asi
    }
    // .logo-container{
    //     display: flex;
    //     width:636px ;
    //     padding-left: 180px;
    //     padding-right: 100px;
    // }

    .pluse-img-btn{
      padding-right: 5px;
    }
    .pluse-img{
        width: 25px;
        padding-right: 0px;
    }

    .modal-container{
        // position: absolute;
        
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    .user-modal-container{
        position: absolute;
        top: 40px;
        right: 70px;
        width :230px;
        height: 194px;
        background-color: rgb(255, 255, 255);
        z-index: 999;
        border-radius: 6px;
          
    }
 
}


@media screen and (min-width: 1100px) {
    .search-container{
        position: relative;
        padding: 10px 50px 20px 180px;
        width:199px ;
        display: inline;
        // height: 28px;
    }
}
@media screen and (min-width: 1100px) {
    .logo-container{
        display: flex;
        align-items: center;
        width:636px ;
        padding-left: 170px;
        padding-right: 10px;
        
    }
}

@media screen and (max-width: 600px) {
    .search-container{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .app-center2{
        // max-width: 100%;
        // display: flex;
        // flex-direction: center;
        // align-items: center;
    }
    
    
    header{
        nav {
            max-width: 100%;
            // background-color: $clr4;
            padding: 0px 0px 0px 10px ;
            height: 60px;
        }
        .header-links{
            // display: inline;
            width: 100%;
            padding: 0px 0px 0px 12px ;
            
        }
        .logo-container{
            display: flex;
            align-items: center;
            max-height: 100%;
            max-width: 50%;
            padding-left: 20px;
            padding-top: 10px;
        }
        .home-logo{
            padding-left: 15px;
            padding-right: 15px;

            //  padding-top: 60px;
        }

        
    .third-logo{
        padding-left: 0px;
    }
    .rourthth-logo{
        padding-left: 15px;
     }
    .hart{
        padding-left: 15px;
        padding-right: 15px;
      }

    .user-logo{
        cursor: pointer;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        padding-left: 0px;
    }
    
        .user-modal-container{
            position: absolute;
            top: 50px;
            right: 30px;
            width :130px;
            height: 100px;
            background-color: rgb(255, 255, 255);
            z-index: 999;
            border-radius: 6px;           
        }
    }


}