.header-container {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    flex-direction: center;
    align-items: center;
}
header {
    width: 100%;
    // background-color: $clr5;
    // padding: 10px;

    // display: flex;
    // justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid $clr2;

    // from asi
    // background: gainsboro;
    padding: 0px;
    .inner-header {
        display: flex;
        justify-content: space-between;
        -webkit-box-pack: justify;
    }

    nav {
        width: 50vw;
        padding: 0 50px 0 20vw;
    }
    .home-logo {
        // padding: 20px;
        
        padding: 1vw;
        //  padding-top: 60px;
    }
    .pluse-img-btn {
        // padding-right: 16px;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }
    .pluse-img {
        width: 2.3vw;
        padding-right: 0px;
    }

    .user-logo {
        cursor: pointer;
        width: 2.3vw;
        height: 2.3vw;
        border-radius: 50%;
        padding-left: 0px;
        margin-left: 1vw;
        margin-right: 1vw;
        border: 3px solid rgb(88, 218, 56);
    }
    .user-logo-logout {
        cursor: pointer;
        width: 2.3vw;
        height: 2.3vw;
        border-radius: 50%;
        padding-left: 0px;
        margin-left: 1vw;
        margin-right: 1vw;
        border: 3px solid rgb(218, 121, 56);
    }
    .about:hover {
        opacity: 0.4;
    }
    .about {
        display: inline-flex;
        width: 2.3vw;
        height: 2.3vw;
        margin-left: 1vw;
    }
    .pressed {
        opacity: 0.3;
    }
    .h1-header {
        width: 103px;
        height: 29px;
        cursor: pointer;
        font-family: Cookie, cursive;
        margin: 0;
        font-weight: 400;
    }
    .add-story {
        padding-right: 8px;
    }
    .instagram-router-link {
        color: #262626;
        text-decoration: none;
        padding-right: 2vw;
    }
    .login-router-link {
        text-decoration: none;
        // display: inline;
        margin: 0;
    }

    .nav-bar {
        // position: relative;
        width: 100%;
        display: flex;
        // justify-content : flex-start;
        justify-content: center;
        align-items: center; // from asi
        // -webkit-box-pack: flex;  // from asi
    }
    .logo-container{
        display: flex;
        padding-right: 1vw;
        
    //     width:636px ;
    //     padding-left: 180px;
    //     padding-right: 100px;
    }

    .modal-container {
        // position: absolute;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.1s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    .user-modal-container {
        position: absolute;
        top: 60px;
        right: 20vw;
        width: 230px;
        height: 194px;
        background-color: rgb(255, 255, 255);
        z-index: 999;
        border-radius: 6px;
        box-shadow: 5px 5px 8px 3px #d8d5d5be;
    }
}

// @media screen and (min-width: 1100px) {


// }
@media screen and (min-width: 1100px) {
    .logo-container {
        display: flex;
        align-items: center;
        width: 636px;
        max-width: 50%;
        padding-left: 17px;
        padding-right: 5vw;
    }
    .search-container {
        position: relative;
        padding: 10px 10px 20px 5vw;
        width: 20vw;
        display: inline;
        // height: 28px;
    }
            header{
                nav {
            width: 100%;
            // background-color: $clr4;
            padding: 0px 10px 10px 10vw;
            height: 5vh;
        }
    }
}

@media screen and (max-width: 1100px) {
        header{
            padding-left: 10vw;
                nav {
            width: 100%;
            // background-color: $clr4;
            padding: 10px 50px 50px 5vw;
            height: 7vh;
        }
        .logo-container {
            padding-right: 1vw;
        }
    }

}



@media screen and (max-width: 900px) {
    .app-center2 {
        // max-width: 100%;
        // display: flex;
        // flex-direction: center;
        // align-items: center;
    }
    
    header {
        nav {
            width: 100%;
            // background-color: $clr4;
            padding: 0px 10px 10px 10vw;
            height: 5vh;
        }
        .header-links {
            // display: inline;
            width: 100%;
            padding: 0px 0px 0px 12px;
        }
        .home-logo {
            padding-left: 15px;
            padding-right: 15px;
            
            //  padding-top: 60px;
        }
        .pluse-img-btn {
            padding-left: 1vw;
        }
        .pluse-img {
            width: 30px;
            padding-right: 0px;
        }
        .logo-container {
            display: flex;
            align-items: center;
            max-height: 100%;
            max-width: 50%;
            padding-left: 20px;
            padding-top: 10px;
        }
        .about{
            width: 5vw;
            height: 5vw;
        }
        .user-logo {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding-left: 0px;
            margin-top: 12px;
        }

        .user-modal-container {
            position: absolute;
            top: 50px;
            right: 30px;
            width: 130px;
            height: 100px;
            background-color: rgb(255, 255, 255);
            z-index: 999;
            border-radius: 6px;
        }
        .search-container {
            padding-left: 20vw;
        }
    }
}


@media screen and (max-width: 600px) {
    .search-container {
        display: none;
    }
    header{
        .about{
            width: 8vw;
            height: 8vw;
        }
        .pluse-img-btn {
            padding-left: 0px;
        }
    }
}