.comments-preview-modal{
    // margin-left: -100px;
    // margin-right: -100px;
//     margin: 0 -100%;
//     padding: 0 -100%;
//     border: 5px solid gray;
//     z-index: 1;
//     color: rgb(219, 74, 17);
  background-color: rgb(197, 77, 97);
  display: flex;

}
.wide {
    margin-left: calc(-37.5vw + 50%);
    width: 75vw;
  }
  
  .full {
    margin-left: calc(-50vw + 50%);
    width: 100vw;
  }

        