

.modal-header2{
    width: 850px;
    height: 450px;
    background-color: rgb(250, 249, 248);
    box-shadow: 5px 10px 10px 500vh #888888be;    
    position: absolute;
    top: 60px;
    left: 250px;
    z-index: 999;
    border-radius: 10px;
  }

 
.left{
    display: flex;
    align-items: center;
    justify-content: start;
}

.img-side{
    display: flex;
    flex-grow: 25;
}
.image-container-new-story{
    width: fill;
    height: 450px;
   
    display: flex;
    align-items: center;
    justify-content: center;

    .img-flex{
        height: 50%;  
    }
}
.image-new-story{

}
.my-input{ 
    border-radius:10px;
    height: 40px;
    width: 300px;
    font-size: large;
}
.file-btn{
    display: none;
    border-radius: 10px;
    border:1px solid rgb(27, 14, 14);
    width: 95px;
    height: 25px;
    background-color: rgb(237, 208, 243);
    box-shadow: 5px 5px 5px 5px  #888888be;
    opacity: 0.8;
    color: rgb(17, 17, 17); 
}
.upload{
    width: 36px;
    height: 36px;
}
.upload-btn{
    border-radius: 10px;
    height: 50px;
    width: 30px;
}
.padding{
    padding-left: 10px;
    margin: 10px;
}
.comment-input-cmp{
    width: fit-content;
}
.line2{
    width: 340px;
    border-top: 1px solid rgba(var(--ce3,239,239,239),1); 
}
.line3{
    width: 340px;
    border-bottom: 1px solid rgba(var(--ce3,239,239,239),1); 
}
.post-side{
    height: 100%;
    flex-grow: 0.2;
    border-left-style: outset;
}
.column-direction{
      

}
    
    // height: inherit;
    // width: inherit;
    // border-left-style: outset;
    // display: flex;
    // justify-content: flex-start;

.post-details-header-preview{
    padding: 16px;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    height: 64px;
}
.input-img{
    cursor: pointer;
}

.post-details-router-name-preview{
    color: #262626;
}
.smily-modal-new-story{
    background-color: rgb(255, 255, 245);
    max-width: 350px;
    max-height: 500px;
    position: absolute;
    margin-top:   0;
    top:  125px;
    right: 1;
    //  right: 0;
    z-index: 999;
    border-radius: 15px 0px 0 15px ;
}


@media (max-width: 600px){
    .modal-header2{
        border-radius: 0px;
        width: 300px;
        height: 250px;
        background-color: rgb(250, 249, 248);
        box-shadow: 5px 10px 10px 500vh #888888be;    
        position: absolute;
        top: 60px;
        left: 50px;
        z-index: 999;
        border-radius: 10px;
    }

    .img-side{
       height: inherit ;
       width: 200px;
    }
    .image-container-new-story{
     
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit ;
        .img-flex{
            height: inherit; 
            display: flex;
            align-items: center; 
        }
    }

    
    .post-side{
    //   flex-grow: 1;
      width: 150px;
      height: inherit;
    }
    .column-direction{
        width: fit-content;
        display: flex;
        flex-direction: column;
    }
    .post-details-header-preview{
        width: inherit;
        padding: 16px;
        display: flex;
        align-items: center;
        -webkit-box-pack: justify;
        height: 10px;
        font-size: small;
    }
    .line2{
        width: 115px;
        // border: 1px solid rgba(var(--ce3,239,239,239),1); 
    }
    .line3{
        width: 115px;
        // border: 1px solid rgba(var(--ce3,239,239,239),1); 
    }
    .input-img1{
        // width: 10px;
        // height: 10px;
    }
    .story-details-img-preview{
        width: 15px;
        height: 15px;
    }
    .post-details-router-name-preview{
        font-size: 8px;
    }
    .post-details-header-btn-preview{
        width: 1px;
    }
    .comment-input-row{
        width: 115px;
    }

}