.main-header-search{
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
     padding: 12.5px;
   
    width: 300px;
    font-size: inherit;
    border-radius: 3px;
    
    height: 29.2px;

    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start
}