.comment-input-row{                            
    
    padding: 0 16px;
    display: flex;
    align-items: center;
    max-height: 56px;
    // border-top: outset  ;
    
    
    
    }
    .comment-input-preview{
        width: 100%;
        border: 0;
        resize: none;
        color: #8e8e8e;
        background: transparent;
        font-size: 1.3vw;
        padding:12px ;
        font-family: 'Segoe UI Historic', Tahoma, Geneva, Verdana, sans-serif;
    }

    .comment-smiley-btn{
        padding-right: 15px;
        padding-top: 13px;
        cursor: pointer;
        
    }
    .add-comment-btn{
        color: #0095f6;
        font-weight: 600;
        padding: 16px 26px 12px  0px;
        width: 10px;
        outline: none;
        opacity: 0.3;
    
    }
    .istxt{
        opacity: 0.9;
    }

    @media (max-width: 600px){
    .add-comment-btn{
        font-size: 7px;
    }
    .comment-input-row{
        padding: 0px 3px 0px 5px;
        font-size: small;
        flex-direction: row;
        width: inherit;
    }

    .comment-input-preview{
        width: 100%;
        border: 0;
        resize: none;
        color: #8e8e8e;
        background: transparent;
        padding-right: 1px ;
        font-size: 8px;
    }
    // #storyId{
    //     font-size: 8px;
    // }
    .comment-smiley-btn{
        padding-right: 3px; 
    }
  
    .comment-input-preview{
        padding: 2px;
    }
}