
.story-preview-modal{
    // display: flex;
    // justify-content: center;
    // align-items: center;

    box-shadow: 5px 10px 10px 100vh #888888be;    
    height: 500px;
    width: 65vw;
    top: 50px;
    left: 200px;
    z-index: 22;
    position: fixed;
    background-color: #fff;
  }

  .story-preview-modal-content{
      
    display: flex;
  
      height: 100%;
  }

  
  .story-preview-modal-img-container{
  
    width: 100%;
    height:inherit;
    // width: 100%;
    // flex-shrink: 1;
  }

  .story-preview-img-modal{
    max-height: 100%;
    object-fit: cover;
 

}


.story-preview-post-modal{
    // flex-grow: 5;
    // flex-shrink: 2;
    // max-width: 365px;
    // height: 100%;
    // height: inherit;
    // border-collapse: collapse;
    border-left-style: outset;
    padding-left: 0px;
   
}


@media (max-width: 600px){
  .story-preview-modal{
    height: fit-content;
    left: 15vw;
    top: 4.5vh;
  }


    
  .story-preview-modal-content{
    flex-direction: column;
  }


  .story-preview-modal-img-container{
    height: 40vh;
  }

}