button {
    // border:0;
    // background-color: $clr3;
    // color:rgb(12, 14, 12);
    // padding: 5px 10px;
    // margin: 5px;
    border: none;
    outline:none;

    cursor: pointer; 
    // border: 0;
    background: none; 
    padding: 0;
}

form > * {
    display: block;
    width: 200px;
    margin: 10px 0px;
}