.about-page{
    background-color: #f0f2f5;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .gif-container{
        width: 50vw;

    }
}