// .item1 { 
//     grid-area: 1 / 2 / 2 / 3;
//     // justify-content: center;
//  }


.main-layout{
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



