.main-details{
    background-color: #f0f2f5;
    overflow: visible;
    display: flex;
    flex-direction:  column;
    align-items: center;
    // flex-wrap: wrap;
    grid-gap: 0px;
    padding: 10px 10px 10px 0px;
    min-height: 100vh;
  



}
.profile{
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom:1px solid $clr2; ;
  padding: 0px 100px 20px 0px;
  box-sizing: border-box;
}

.img-container{
  padding-top: 30px;
  // max-width: 330px;
}

  .details-img{
    padding-top: 10px;
    border-radius: 150%;
    height:150px ;
    width:150px;
  }
  .no-img{
      height: 60%;
      cursor: pointer;
  
  }


.profile-tabs-tab{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 20px 180px 20px 20px;
}


  // POSTS
  .profile-posts{
    grid-template-columns: repeat(3,1fr);
    display: grid;
    // grid-gap: 20px 30px ;    from asi
    //grid-template-rows: (3,1fr);
    padding-right: 200px;
    // from asi
    grid-gap: 30px;
    width: 70%;
  }

  .profile-posts-item{
    // cursor: pointer;
    // position: relative;
    // overflow: hidden;     from asi
    // display: inline;

    //  from asi
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline;
    padding-top: 100%;
    background: green;
    height: 100%;
    width: 100%;
  }

  .details-stories-img{
 
    // height:100% ;    from asi
    // width: 100%; 
    
    // asi
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
    
  

  .details-container{
    // from asi
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    padding: 10px 100px 10px 110px;
   
  }
.user-fullname-fill-container{
  padding-bottom: 10px;
}
  .user-details-fill{
    display: flex;
    flex-direction: column;
    // background-color: rgb(117, 19, 19);
    // height: 250px;
  }
.user-fullname-fill{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  padding: 6px 10px 6px 12px!important;
  outline: none;
  border: none;
  font-size: large;
  font-family: inherit
 }
.user-bio-fill{
  border-radius: 10px;
  width: 200px;
  height: 50px;
  padding: 6px 10px 6px 12px!important;
  background-color: #ffffff;
  border: 0;
}
  .profile-description-top{
    padding: 10px 0 15px;
    font-size: 20px;
    width: 510px;
    height:  69px;
  }
  .profile-description-top-username{

    padding: 10px 0 15px;
    font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
  }


  .followers-num{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
  }

  .profile-count{
    font-size: 15px;
 
  }
  .profile-count-others{
    font-size: 15px;
    margin-left: 30px;
  }
  .profile-count-num{
    font-size: 14px;
  }

  .profile-description-bio{
    padding-top: 14px;
  }
  p{
    // margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
  }


  .details-story-modal{
    z-index: 22;
    position: fixed;
  }


  .modal-content{
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .story-modal-img-container{
     width: 100%;
    // width: 100%;
    // flex-shrink: 1;
  }
  .img-modal{
      max-width: 100%;
    //  object-fit: cover;
   

  }

  .post-modal{
    // flex-grow: 5;
    // flex-shrink: 2;
    max-width: 30%;
  }
  
  .hide{
    display: none
  }
  .show{
    display: block
  }

 @media screen and (max-width: 600px) {
   .profile{
    // padding-left: 20x;
   // display: -webkit-box;
   display: flex;
    justify-content: center;
    padding: 0px 0px 0px 120px;
  }

  .profile-posts{
    grid-template-columns: repeat(2,1fr);
    display: grid;
    grid-template-rows: (3,1fr);
    grid-gap: 10px;
    width: 85%;
    padding-right: 180px;
   
 }

.details-img{
  padding-top: 0px;
  border-radius: 150%;
  height: 70px ;
  width: 70px;

}


.details-container{
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  padding: 3px 3px 3px 15px;
  
  font-size: x-small;
}


.profile-description-top-username{

    padding: 1px 0 1px;
    font-size: 1px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.profile-description-top{
  padding: 15px 0 1px 20px;
  font-size: 15px;
  width: 510px;
  height:  69px;
}

.followers-num{
  display: flex;
  flex-direction: row;
  padding-top: 0;
}
.profile-description-bio{
  font-size: 10px;
}

.p-mobile{
  font-size: 13px;
}
.profile-description-top-username{
  font-size: 15px;
}
.profile-count{
  font-size: 10px;
}
.profile-count-others{
  font-size: 10px;
}
.profile-tabs-tab{
  padding-left: 0px
}

}