.body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    color: #262626;
    margin: 0;
    min-height: 150vh;
    padding-bottom: 100px;
}

.app {
    
}
#nav {
    padding: 0px 0px 0px 0px;
}
.users-for-chat-container {
    position: fixed;
    top: 100px;
    right: 23vw;
    // z-index: 999;
}
.users-for-chat {
    display: flex;
    flex-direction: column;

    .users-img-for-chat:hover {
        opacity: 0.5;
    }
    .users-img-for-chat {
        border-radius: 100px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: 3px solid rgb(15, 15, 15);
        box-shadow: 5px 5px 8px 3px #d8d5d5be;
        
    }

    .users-txt-for-chat-name{
        font-family: 'Segoe UI Historic', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    .gotmsg {
        box-shadow: 0 0 3pt 2pt red;
    }
    .sendTo {
        box-shadow: 0 0 3pt 2pt rgb(36, 202, 58);
    }
}

.absolute-pos {
    position: absolute;
    top: 100px;

    .fixed-pos {
        // position: absolute;
        //    position: -webkit-sticky;
        position: fixed;
        right: 5vw;
        padding-left: 0px;
        font-size: 20px;
        z-index: 10;
    }
}
.btn-absolute-pos {
    position: absolute;
    top: 100px;

    .btn-absolute-pos {
        // position: absolute;
        //    position: -webkit-sticky;
        position: fixed;
        right: 10px;
        padding-left: 0px;
        font-size: 20px;
    }
}

.open-chat:hover {
    opacity: 0.4;
}
.open-chat {
    cursor: pointer;
    //font-size:17px ;
    width: 58px;
    height: 59px;
    border-radius: 100%;
    background: #fcfcfc;
    outline: #fcfcfc;
    box-shadow: 5px 5px 8px 3px #d8d5d5be;
}

.fade-enter-active {
    transition: opacity 0.9s;
}
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


@media screen and (max-width: 650px) {
    .open-chat {
        display: none;
    }
    .absolute-pos {
        display: none;
    }
    .users-for-chat-container {
        right: 5vw;
    }
}

@media screen and (max-width: 600px) {
    .users-for-chat-container {
        right: -30vw;
        z-index: 2;
        display: none;
    }

}

